.home_body {
    display: block;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
}

.footer {
    border-top: 9px dotted red;
}

.users{
    display: flex; 
    flex-wrap: wrap; 
}

.circle_icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}